.img-list-wrapper{
    margin: 2rem auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}
